
<div class="d-flex w-100 justify-content-center">
    <div class="mb-0 d-flex flex-row justify-content-around "
        style="border: 1px solid green; padding: 10px ; border-radius: 20px; box-shadow: 3px 3px 5px; width: 80% ">

        <div>
            <app-postal-code-filter
            (postalCodeFilter)="filterByPostalCode($event)"></app-postal-code-filter>
        <app-brand-filter (brandFilter)="filterByBrands()"></app-brand-filter>
        </div>
        <div>
            <app-community-filter
            (comunidadSelect)="filterByCommunity($event)"></app-community-filter>
        

        <!--
        <div class="d-flex align-items-center">
            <label for="postalCode" class="h5">Código Postal:</label>
            <input
                id="postalCode"
                type="text"
                class="form-control form-control-lg"
                [(ngModel)]="postalCodeFilter"
                (input)="filterByPostalCode()"
                placeholder="Introduce el código postal"
                aria-label="Código Postal" style="width: 260px;">
        </div>
        <div>
          <label style="font-size: 15pt;" for="brands">Selecciona marcas:</label>
          <div *ngFor="let brand of ['REPSOL', 'CEPSA', 'CARREFOUR', 'BP', 'Otras']">
           <input 
             type="checkbox" 
              [(ngModel)]="filterBrands[brand]" 
              (change)="filterByBrands()"> 
               {{ brand }}
           </div>
        </div>
        -->
        </div>
    </div>
</div>

<!-- Mensaje de no resultados -->

<div id="separador"></div>
<div class="d-flex justify-content-center"
    *ngIf="filteredGasolineras.length === 0">
    <h4>No se encontraron gasolineras con esos filtros.</h4>
</div>
<div class="d-flex justify-content-center"
    *ngIf="filteredGasolineras.length > 0">
    <h5>Resultados: {{ totalGasolineras }} gasolineras encontradas</h5>
</div>

<div class="container d-flex flex-wrap justify-content-center mt-0">
    @for(gasolinera of filteredGasolineras; track gasolinera.id) {
    <div class="big-card col-12 col-md-5 d-flex align-items-stretch">
        <div class="card text-center">
            <div class="card-header">
                <a
                    href="http://maps.google.com/maps?saddr={{replaceComas(gasolinera.latitude)}},{{replaceComas(gasolinera.longitude)}}&daddr={{replaceComas(gasolinera.latitude)}},{{replaceComas(gasolinera.longitude)}}"
                    target="_blank"
                    class="enlace"><h5>{{gasolinera.nombre}}</h5></a>
            </div>
            <div class="card-body d-flex justify-content-around">
                <div class="price-box">
                    <p>Gasolina 95</p>
                    <p>{{gasolinera.price95}}€/L</p>
                </div>
                <div class="price-box">
                    <p>Diésel</p>
                    <p>{{gasolinera.priceDiesel}}€/L</p>
                </div>
                <div class="price-box">
                    <p>Diésel</p>
                    <p>{{gasolinera.priceDiesel}}€/L</p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <p>{{gasolinera.direction}}</p>
                <p>{{gasolinera.province}} / {{gasolinera.village}}</p>
                <p>C.P. {{gasolinera.postalCode}}</p>
            </div>
        </div>
    </div>
    }
</div>
