<div id="separador"></div>
<div class="container d-flex flex-wrap justify-content-center">
@for(gasolinera of listadoGasolineras; track
listadoGasolineras.indexOf(gasolinera)) {
    <div class="big-card col-12 col-md-5 d-flex align-items-stretch">
        <div class="card text-center">
            <div class="card-header">
                <h5>{{gasolinera.nombre}}</h5>
            </div>
            <div class="card-body d-flex justify-content-around">     
                <div class="price-box">
                    <p>Gasolina 95</p>
                    <p>{{gasolinera.price95}}€/L</p>  
                </div>
                <div class="price-box">
                    <p>Diésel</p>
                    <p>{{gasolinera.priceDiesel}}€/L</p>
                </div>
                <div class="price-box">
                    <p>Diésel</p>
                    <p>{{gasolinera.priceDiesel}}€/L</p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <p>{{gasolinera.direction}}</p>
                <p>{{gasolinera.province}} / {{gasolinera.village}}</p>
                <p>C.P. {{gasolinera.postalCode}}</p>
            </div>
        </div>
    </div>
}
</div>