#header {
    overflow: hidden;
    text-align: center;
  }
  
  #header svg {
    width: 100%;
  }

.title {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem; 
    font-weight: bold;
    color: #ffffff; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.849); 
    letter-spacing: 2px; 
    font-family: 'Arial', sans-serif; 
}
