<div class="d-flex align-items-center">
    <label class="h5">Marcas de Gasolineras:</label>
    <div>
      <button class="btn btn-outline-info" (click)="toggleSelectAll()">
        {{ selectAllBrands ? 'Desmarcar Todo' : 'Marcar Todo' }}
      </button>
    </div>
    <div *ngFor="let brand of brandKeys">
      <label>
        <input
          type="checkbox"
          [checked]="filterBrands[brand]"
          (change)="onBrandChange()"
          [value]="brand">
        {{ brand }}
      </label>
    </div>
    
  </div>
